{% extends "base.html" %}
{% load i18n %}
{% block title %} All Tasks {% endblock title %}
{% block content %}
        <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
            <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
               role="button" aria-expanded="true" aria-controls="collapseCardExample">
                <h6 class="m-0 font-weight-bold text-primary">On Hold Tasks</h6> </a>
                    <!-- Card Content - Collapse -->
                    <div class="collapse show" id="collapseCardExample">
                        <div class="card-body">

                              <table class="table table-bordered">
                                      <thead>
                                              <tr>
                                                  <th>Title</th>
                                                  <th>Description</th>
                                                  <th>Completion Date</th>
                                                  <th>Priority</th>
                                                  <th>Status</th>
                                                  <th>Client</th>
                                                  <th>Assigned</th>
                                              </tr>
                                    </thead>
                                    <tbody>
                                                  {% for task in tasks %}
                                          <tr>
                                                  <td>{{ task.title }}</td>
                                                  <td>{{ task.description }}</td>
                                                  <td>{{ task.datecompleted }}</td>
                                                  <td>{{ task.priority }}</td>
                                                  <td>{{ task.status }}</td>
                                                  <td>{{ task.client }}</td>
                                                  <td>{{ task.assigned }}</td>
                                          </tr>
                                                    {% empty %}
                                          <tr>
                                                    <td colspan="7"><em class="text-muted">No records found!</em></td>
                                          </tr>
                                                    {% endfor %}
                                  </tbody>
                             </table>
                       </div>
                   </div>
       </div>
{% endblock %}
